[Unit]
Description=OpenTimestamps server
After=bitmarkd.service

[Service]
User=ots
Group=ots
ExecStartPre=/bin/bash /usr/local/bin/bitmarkd-ready.sh
ExecStart=/home/ots/opentimestamps-server/otsd -v
Restart=on-failure

KillSignal=SIGINT

[Install]
WantedBy=multi-user.target